.register-parent {
  height: 100vh;
  display: flex;
  background-color: aliceblue;
  & .row {
    height: 100vh;
    align-items: center;
  }

  .form-control {
    box-shadow: none;
  }
  .form-control:focus {
    margin-top: 15px !important;
    box-shadow: none !important;
  }
  .register-form {
    background-color: white;
    padding: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  .z1 {
    z-index: 1 !important;
  }

  //!register top
  .register-top {
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #003f5c;
  }
}

//!login
.login-parent {
  height: 100vh;
  display: flex;
  background-color: aliceblue;
  & .row {
    height: 100vh;
    align-items: center;
  }

  .form-control {
    box-shadow: none;
  }
  .form-control:focus {
    margin-top: 15px !important;
    box-shadow: none !important;
  }
  input {
    margin-top: 15px;
  }

  .login-form {
    background-color: white;
    padding: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  .z1 {
    z-index: 1 !important;
  }

  //!register top
  .login-bottom {
    height: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: #003f5c;
  }
}

input,textarea {
  margin-top: 15px;
}
